<form id="words">
  Find a word for <input id="word1" type="text" required> that rhymes with a word for <input id="word2" type="text" required>.
  <button type="submit">Go</button>
</form>
<div id="results">Results</div>

<script>
  $(function() {
    $("#words").submit(function(e) {
      $.ajax({
        url: '/',
        type: 'get',
        data: {
          word1:$("#word1").val(),
          word2:$("#word2").val()
        },
        success: function(response) {
          $("#results").html(response);
        },
        error: function(err) {
          console.log(err);
        }
      });
      e.preventDefault(); // Don't load a new page
    });
  });
</script>